<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
        더 나은 엔지니어를 꿈꾸며 공부하고 있는 강길웅이라고 합니다. 주로 API 서버개발 및 클라우드를 담당하고 있는 Java/Spring 백엔드 개발자입니다. 아직은 부족한 것이 많아 보안 및 컨설팅도 공부하고 있습니다.
        <br/><br/>
        서비스 이해를 위해 비즈니스 도메인 및 프로젝트 별 아키텍처 이해, 서비스 운영을 위한 어드민 활용 이해 등 항상 적극적으로 행동하며 의견을 피력하고 있습니다.
        <br/><br/>
        현재는 K-digita Training 과정을 통해 다양한 보안 요소들과 클라우드의 이해, 보안 컨설팅 등 많은 것을 배우고 있습니다. 최종 프로젝트에서의 수상, 개인 우수상 등 성과를 냈으며 보다 많은 경험과 성과를 위해 항상 적극적으로 행동하고 있습니다. 
        </p>    
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="assets/images/about/IMG_0612.JPG" alt="{{ site.data.settings.aboud-author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="assets/images/about/IMG_B1170973B947-1.jpeg" alt="signature" class="img-fluid">
        <h4>gil woong kang</h4>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-title">About Me</h2>
        <br/>
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
