<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
      <div class="col-md-8">
        Test message
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="assets/images/about/author.jpg" alt="{{ site.data.settings.aboud-author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="assets/images/about/signature.png" alt="signature" class="img-fluid">
        <h4>gil woong kang</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
